@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<center>
    <h1> Aerolinea El futuro</h1>
</center>
<h3>Seguridad y confianza</h3>
<div>
    <strong>
        <p>
            Lorem Ipsum
            Lorem Ipsum es un texto de marcador de posición
            comúnmente utilizado en las industrias gráficas,
            gráficas y editoriales para previsualizar diseños y maquetas visuales.
        </p>
        <p>
            El paso clásico “Lorem ipsum dolor sit amet…” se atribuye a una remixación del texto de De Finibus Bonorum et Malorum (“En los extremos del bien y del mal”), del filósofo romano Cicerón, de 45 aC. Más específicamente, se piensa que el pasaje proviene de las secciones 1.10.32 - 33 de su texto, con la parte más notable extraída a continuación:

            “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.”
            Una traducción inglesa de 1914 por Harris Rackham lee:

            “Nor is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure.”
            De acuerdo con el profesor latino Richard McClintock — el hombre al que se atribuyó el descubrimiento de las raíces de Lorem Ipsum — es probable que en algún momento de la edad media un tipógrafo codificara parte de De Finibus de Cicerón para proporcionar un texto reservado para modelar varias fuentes para un libro tipo espécimen. Pero ese era sólo el inicio.
        </p>
        <h3>Lo que en verdad necesitas</h3>
        <p>
            Cinco siglos más tarde Lorem Ipsum experimentó una oleada de popularidad con el lanzamiento de hojas de transferencia seca de Letraset. Estas hojas de letras se pueden frotar en cualquier lugar y fueron rápidamente adoptadas por los artistas gráficos, impresores, arquitectos y anunciantes por su aspecto profesional y facilidad de uso. Letraset incluyó los pasajes de Lorem Ipsum en una panoplia de fuentes, estilos y tamaños, solidificando el lugar de la frase latina en la industria gráfica y gráfica. Aquellos con un ojo por el detalle habrán incluso cogido un homenaje al texto clásico en un episodio de Mad Men (S6E1 alrededor de 1:18:55 para cualquiera que no lo hiciera).
        </p>
        <p>
            “Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?”
            Traducción por H. Rackham:

            “But I must explain to you how all this mistaken idea of denouncing of a pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great
        </p>
    </strong>
</div>
<body style="background-image:url(https://www.xtrafondos.com/wallpapers/ala-de-un-avion-88.jpg);
       background-repeat: no-repeat;
       background-size: auto">
</body>